/* Box Dimensions/Properties */
.product-card {
  background-color: rgba(255, 115, 0, 0.13);
  flex-grow: 1;
  width: 310px;
  border: 1px solid #DCDCDC;
  box-shadow: 6px 6px 1px 0px #EBEBEB;
  padding-right: .2em;
  padding-left: .7em;
  padding-bottom: .6em;
}

.info-box {
  width: 283px;
  border: 1px solid #DCDCDC;
  padding-right: .5em;
  padding-left: .5em;
}

/* Image */
.product-photo {
  width: 300px;
  height: 200px;
  padding-bottom: .8em;
}

/* List Information */
.product-info{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.category {
  align-items: left;
  font-weight: bold;
}

.detail {
  align-items: right;
}
